$c1-100: #f5f9fe;
$c1-200: #e2ebfc;
$c1-300: #c9d8f4;
$c1-400: #60a4f4;
$c1-500: #2a73dd;
$c1-600: #656774;
$c1-700: #1d365e;
$cWhite: #fff;

$fs-xs: 0.75rem;
$fs-base: 1rem;
$fs-sm: 1.25rem;
$fs-md: 1.5rem;
$fs-lg: 2rem;
$fs-xl: 2.25rem;
$fs-3xl: 5rem;

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
